.navbar .container{
  margin-left: 10px;
}

#my-menu{
  text-align: center;
  clear: both;
  background-color: #ffffcc
}

#long-text{
  background-color: #e6e6e6;
}

#my-menu a:hover{
  background-color: #e6e600;
}
